---
import "@/styles/global.css";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<head>
  <!-- Global Metadata -->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
  <meta name="generator" content={Astro.generator} />

  <!-- Fonts preload -->
  <link
    rel="preload"
    href="/fonts/ProductSans-Bold.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />

  <link
    rel="preload"
    href="/fonts/ProductSans-Light.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />
  <link
    rel="preload"
    href="/fonts/ProductSans-Medium.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />

  <link
    rel="preload"
    href="/fonts/ProductSans-Regular.ttf"
    as="font"
    type="font/ttf"
    crossorigin
  />

  <title>{title}</title>
</head>
